<html>
  <head>
    <title>About</title>
    <link rel="icon" href="./img/icon.png">
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <p>Hello! My name is Yonatan Dvir and this is my first node JS application!</p>
      <img class="portrait" src="./img/myAvatar.jpeg" />
    </div>
    {{>footer}}
  </body>
</html>